*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
.DS_Store
.idea
.project
.strong-pm
coverage
npm-debug.log

./**/.*
**/*~
node_modules/**
.env
.rebooted

public/components/*
.sass-cache
.sass-cache/*
npm-debug.log
public/build/*

newrelic_agent.log

*.env
