#content .dashboard1 {
	.img {
		vertical-align: center;
	}
	border-style: solid;
    border-width: medium;
    height: 405px;
}

#content .fontsDash {
	p.info {
		padding-top: 50px;
		padding-left: 15px;
	    font-family: "Times New Roman";
	    font-weight: bold;
    	font-size: 1.2em;
		vertical-align: center;
	}
	p.change {
		padding-left: 15px;
	    font-family: "Times New Roman";
	    font-weight: bold;
    	font-size: 1.2em;
		vertical-align: center;
	}
	p.ranking {
		// padding: 5px;
	    font-family: "Times New Roman";
	    font-weight: bold;
    	font-size: 1.2em;
		text-align: center;
	}
	p.rankingFirst {
		padding-top: 15px;
	    font-family: "Times New Roman";
	    font-weight: bold;
    	font-size: 1.4em;
		text-align: center;
	}
	p.rankingSecond {
		padding-top: 10px;
	    font-family: "Times New Roman";
	    font-weight: bold;
    	font-size: 1.2em;
		text-align: center;
	}
}

#content .dashboard2 {
    // border-style: solid;
    // border-width: medium;
    height: 405px;
}

#content .dashboard3 {
    border-style: solid;
    border-width: medium;
    height: 405px;
}

#content .dashboard4 {
    // border-style: solid;
    // border-width: medium;
    height: 405px;
}