@font-face {
    font-family: 'vipnagorgialla';
    src: url('/fonts/vipnagorgialla/vipnagorgialla-webfont.eot');
    src: url('/fonts/vipnagorgialla/vipnagorgialla-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/vipnagorgialla/vipnagorgialla-webfont.woff2') format('woff2'),
         url('/fonts/vipnagorgialla/vipnagorgialla-webfont.woff') format('woff'),
         url('/fonts/vipnagorgialla/vipnagorgialla-webfont.ttf') format('truetype'),
         url('/fonts/vipnagorgialla/vipnagorgialla-webfont.svg#vipnagorgiallaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'outer-zone';
    src: url('/fonts/outer-zone/outer_zone-webfont.eot');
    src: url('/fonts/outer-zone/outer_zone-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/outer-zone/outer_zone-webfont.woff2') format('woff2'),
         url('/fonts/outer-zone/outer_zone-webfont.woff') format('woff'),
         url('/fonts/outer-zone/outer_zone-webfont.ttf') format('truetype'),
         url('/fonts/outer-zone/outer_zone-webfont.svg#outer_zoneregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'commando';
    src: url('/fonts/commando/commando-webfont.eot');
    src: url('/fonts/commando/commando-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/commando/commando-webfont.woff') format('woff'),
         url('/fonts/commando/commando-webfont.ttf') format('truetype'),
         url('/fonts/commando/commando-webfont.svg#outer_zoneregular') format('svg');
    font-weight: normal;
    font-style: normal;

}