.header {
    h1 {
    	color: white;
    	text-align: center;
    	font-size: 6em;
    }
	nav {
		background-color: #222;
		padding: 0;
		ul {
			padding: 0;
			li {
				border-style: solid;
				border-color: #080808;
				border-width: 0px 1px 0px 1px;
				text-align: center;
				color: #999;
				font-size: 1.5em;
				height: 100%;
				padding: 5px 1px 5px 1px;

				cursor: pointer;
				&:first-child {
					padding-left: 0px;
					border-left-width: 0px;
				}
				&:last-child {
					padding-right: 0px;
					border-right-width: 0px;
				}
				display: inline-block;

				&:hover, &:active, &:focus {
					color: white;
					background-color: #080808;
				}
			}
		}
	}
}