.header {
    h1 {
    	color: $white-yellow;
    	text-align: center;
    	@media screen and (max-width: $screen-xs-max) {
    		font-size: 2.6em;
    	}
    	font-size: 6em;
    	font-family: 'outer-zone';
    	margin: 20px 0;
    }
	nav {
		background-color: #222;
		padding: 0;
		ul {
			margin: 0 auto;
			padding: 0;
			li {
				width: 20%;
				float: left;
				a {
					border-style: solid;
					border-color: #080808;
					border-width: 0px 1px 0px 1px;
					text-align: center;
					color: #999;
					font-size: 1.5em;
					height: 100%;
					padding: 5px 1px 5px 1px;

					cursor: pointer;
					&:first-child {
						padding-left: 0px;
						border-left-width: 0px;
					}
					&:last-child {
						padding-right: 0px;
						border-right-width: 0px;
					}
					display: inline-block;

					&:hover, &:active, &:focus {
						color: white;
						background-color: #080808;
					}
				}
			}
		}
	}
}