// Blue
$dark-blue: #3A747F;
$blue: #69D2E7;
$light-blue: #A7DBD8;

//Derived
$beach: #E0E4CC;

//Orange
$dark-orange: #7F3600;
$orange: #FA6900;
$light-orange: #F38630;

//Font
$font-main: 'Source Sans Pro', sans-serif;
$font-second: 'Lato', sans-serif;